<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker
    #marker
    *ngFor="let m of markers;"
    (markerClick)="clickedMarker(info)"
    [openInfoWindow]="false"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [iconUrl]="m.iconUrl">

    <agm-info-window #info>
      <div class="map-title">{{m.name}}</div>
      <div class="info-card">
        <img [src]="m.photoUrl" [alt]="m.name" class="thumbnail">
        <div class="description">{{m.description}}<span class="more-info">More info...</span></div>
      </div>
      <div class="buttons">
        <button mat-button (click)="addToTrip(m, info)">{{isInTrip(m.id) ? 'Remove from trip' : 'Add to trip'}}</button>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>

<div class="trip-selector">
  <div class="title">
    Trip Planner
  </div>

  <div class="description" *ngIf="tripPlaces.length === 0">
    Please select places you would like to visit...
  </div>

  <div class="list">
    <div class="item" *ngFor="let item of tripPlaces" (click)="focusPlace(item)">
      <span>{{item.name}}</span>
      <i class="material-icons" (click)="removePlace(item, $event)">delete</i>
    </div>
  </div>
</div>