<agm-map
  [latitude]="coordinates.lat"
  [longitude]="coordinates.lng"
  [zoom]="zoom"
  [styles]="style | async"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker
    #marker
    *ngFor="let m of markers;"
    (markerClick)="clickedMarker(info)"
    [openInfoWindow]="false"
    [latitude]="m.coordinates.lat"
    [longitude]="m.coordinates.lng"
    [title]="m.name"
    [iconUrl]="m.iconUrl">

    <agm-info-window #info>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{m.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="m.photo_url" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>{{m.description}}</p>
          <p *ngIf="m.price != null">Cena: {{m.price}}</p>
          <p><a class="more-info" target="_blank" href="{{m.link}}">Více informací</a></p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="addToTrip(m, info)">{{isInTrip(m.id) ? 'Remove from trip' : 'Add to trip'}}</button>
        </mat-card-actions>
      </mat-card>
    </agm-info-window>
  </agm-marker>

  <agm-direction *ngIf="dir"
                 [origin]="dir.origin"
                 [destination]="dir.destination"
                 [waypoints]="dir.waypoints"
                 travelMode="WALKING">
  </agm-direction>

</agm-map>
<mat-sidenav-container class="example-container" color="primary">
  <mat-sidenav mode="side" opened></mat-sidenav>
  <mat-sidenav-content>
    <div class="trip-selector">
      <div class="title">
        Trip Planner
      </div>

      <div class="description" *ngIf="tripPlaces.length === 0">
        Please select places you would like to visit...
      </div>

      <div class="list">
        <div class="item" *ngFor="let item of tripPlaces" (click)="focusPlace(item)">
          <span>{{item.name}}</span>
          <i class="material-icons" (click)="removePlace(item, $event)">delete</i>
        </div>
      </div>

      <div>
        <button mat-raised-button
                type="button" color="primary"
                (click)="planTrip()">
          Get
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<div class="slider">
  <nouislider [config]="config" [(ngModel)]="someRange"></nouislider>
</div>