$background-color: #bc3338;

agm-map{
  height: 100vh;
}

body {
  font-family: "Open Sans,sans-serif";
}

.center-cropped {
  width: 220px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-right: 1em;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
  max-width: 100%;
}

.info-card{
  display: flex;
  justify-content: flex-start;
  .description{
    width: 200px;
    font-size: 16px;

    .more-info{
      font-size: 12px;
      color: gray;
      text-decoration: underline;
      cursor: pointer;

      &:hover{
        color: darken(gray, .8);
      }
    }
  }
}

.map-title{
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.buttons{
  display: flex;
  justify-content: flex-end;
}

.trip-selector{
  position: absolute;
  top: 10px;
  left: 10px;

  width: 400px;
  background-color: rgba(0,0,0, .8);
  border-radius: 5px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  color: white;

  .title{
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  .description{
    align-self: flex-end;
    color: white;
  }

  .list{
  }

  .item{
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    cursor: pointer;

    &:hover{
      opacity: 1;
    }

    &:not(:last-child){
      border-bottom: 1px solid gray;
    }
  }
}

.slider{
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
  background-color: rgba(0,0,0, .8);
}